<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>后台操作记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link href="lib/layui-v2.5.4/css/layui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/layuimini.css" media="all">
    <link rel="stylesheet" href="css/public.css" media="all">
    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="lib/layui-v2.5.4/lay/my_modules/treeTable/treeTable.css"/>
    <script src="../../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <style>
        .page1{
            width: 35px;
            height: 35px;
            display: inline-block;
            /*margin-right: 20px;*/
        }

        .page2{
            width: 35px;
            height:35px;
            display: inline-block;
            /*margin-left: 20px;*/
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <table class="layui-table"  lay-skin="row">
        <colgroup>
            <col width="260">
            <col width="260">
            <col width="260">
            <col width="260">
            <col width="260">
            <col width="260">
        </colgroup>
        <thead>
        <tr>
            <td>操作者</td>
            <td>节点</td>
            <td>行为</td>
            <td>操作内容</td>
            <td>操作位置</td>
            <td>操作时间</td>
        </tr>
        </thead>
        <tbody>


        </tbody>
    </table>
</div>
<div class="page" style="height: 90px; text-align: center;margin-top: 40px;">

</div>
</body>
<script type="text/javascript">

    page(1)

    function page(size){

        var data={"pageIndex":size,"pageSize":"10","type": "0"};
        $.ajax({
            url:"/operationRecord/selectPagePlayerOrder",
            data:JSON.stringify(data),
            type:"POST",
            dataType:"json",
            contentType: "application/json;charset=UTF-8",
            success:function(res){
                var html= "";
                var d = res.body.records;
                var total = res.body.total;
                for(var i = 0;i<d.length;i++){
                    html+=" <tr>\n" +
                        "            <td>"+d[i].mangerName+"</td>\n" +
                        "            <td>"+d[i].node+"</td>\n" +
                        "            <td>"+d[i].operation+"</td>\n" +
                        "            <td>"+d[i].concats+"</td>\n" +
                        "            <td>"+d[i].address+"</td>\n" +
                        "            <td>"+d[i].creDate+"</td>\n" +
                        "        </tr>";
                }
                $("tbody").html(html);

                var page ="";
                var inx=0;
                var  en = 0;
                var len = total % 10 == 0 ? parseInt(total / 10) : parseInt((total / 10) + 1);
                page = "<a class=\"page1\" href='javascript:page(1)' style='background-image: url(\"img/yema_bg2.png\")'><img src=\"img/icon_zuo1.png\" height='16px' style='margin-top: 10px'></a> \n" +
                    "<a class=\"page1\" href='javascript:page("+(parseInt(size)-1)+")' style='background-image: url(\"img/yema_bg2.png\")'><img src=\"img/icon_zuo2.png\" height='16px' style='margin-top: 10px'></a>\n" ;
                if(size == 1){
                    page=" <a class=\"page1\" style='background-image: url(\"img/yema_bg.png\")'><img src=\"img/icon_zuo1.png\" style='margin-top: 10px' height='16px'></a> \n " +
                        " <a class=\"page1\"  style='background-image: url(\"img/yema_bg.png\")'><img src=\"img/icon_zuo2.png\" style='margin-top: 10px' height='16px'></a>\n" ;
                    inx = 1;
                }else {
                    inx = ((size-1) * 10+1);
                }
                page+="<label style='display: inline-block;width: 35px;text-align: center; '>第</label><input type='text' value='"+size+"' readonly='readonly' style='display: inline-block;height:20px; width:50px;padding-left: 15px; background-color: #D3D3D3 ;margin-right: 5px; padding-top: 5px;' ><label>页</label>,<label>共"+len+"页</label>"
                // icon_you1.png
                if(size == len){
                    page+= "    <a class=\"page2\" style='background-image: url(\"img/yema_bg.png\")'><img src=\"img/icon_you2.png\" style='height: 15px; margin-top: 10px'></a>\n"+
                        " <a class=\"page2\" style='background-image: url(\"img/yema_bg.png\")'><img src=\"img/icon_you1.png\" style='margin-top: 10px'></a> \n " ;
                    en = (total);
                }else{
                    en = (size*10);
                    page+= "    <a class=\"page2\" href='javascript:page("+(parseInt(size)+1)+")' style='background-image: url(\"img/yema_bg2.png\") '><img src=\"img/icon_you2.png\" style='margin-top: 10px'></a>\n"+
                        " <a class=\"page2\" href='javascript:page("+len+")' style='background-image: url(\"img/yema_bg2.png\")'><img src=\"img/icon_you1.png\" style='margin-top: 10px'></a> \n " ;
                }
                page+="<label style='display: inline-block;margin-left: 10px;'>显示"+inx+"-"+en+"条,共<span style='color: #1597EE;' '>"+total+"</span>条</label>";
                $(".page").html(page);
            }
        })
    }

    function gettype(id) {
        if( id == 0){
            return "限量";
        }else if( id == 1) {
            return "稀有";
        }else if( id == 2){
            return "特殊";
        }else if( id == 3) {
            return "经典";
        }else if( id == 4){
            return "YOUTUBE 武器箱";
        }else if( id == 5) {
            return "仅在 SKINCLUB6>";
        }else if( id == 6){
            return "收藏";
        }
    }
</script>
</html>