<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsq.mapper.PlayersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itsq.pojo.entity.Players">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="image" property="image" />
        <result column="number" property="number" />
        <result column="pwd" property="pwd" />
        <result column="steam_url" property="steamUrl" />
        <result column="balance" property="balance" />
        <result column="is_status" property="isStatus" />
        <result column="cr_data" property="crData" />
        <collection property="armsList" ofType="Arms">
            <id column="aid" property="id" />
            <result column="aname" property="name" />
            <result column="aimageUrl" property="imageUrl" />
            <result column="aprice" property="price" />
            <result column="atype" property="type" />
            <result column="aproductId" property="productId" />
            <result column="bid" property="boxId" />
            <result column="pbIs" property="pbIs" />
            <result column="pbType" property="pbType" />
            <result column="pbaId" property="pbaId" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, image, number, pwd, steam_url, balance, is_status, cr_data, state
    </sql>

    <resultMap id="BaseResultMap1" type="com.itsq.pojo.entity.Arms">
        <id column="pbaId" property="id" />
        <result column="aname" property="name" />
        <result column="aimageUrl" property="imageUrl" />
        <result column="aprice" property="price" />
        <result column="atype" property="type" />
        <result column="aproductId" property="productId" />
        <result column="bid" property="boxId" />
        <result column="pbIs" property="pbIs" />
        <result column="pbType" property="pbType" />
        <result column="aid" property="pbaId" />
    </resultMap>

    <select id="selectPlayerBox" resultMap="BaseResultMap1">

select

  a.id as aid,
  a.`name` as aname,
  a.imageUrl as aimageUrl,
  a.price as aprice,
  a.product_id as aproductId,
  a.`type` as atype,
   pba.`id`  as pbaId,
  pba.`box_id` as bid,
  pba.`is_status` as pbIs,
  pba.`type` as pbType,

from
  `players` p
  left join `player_box_arms` pba
    on p.`id` = pba.`player_id`
  left join `arms` a
    on a.`id` = pba.`arms_id`
where p.is_status = 0
  and p.`id` =#{playerId}
   order by pba.`cre_date`
    </select>
</mapper>
