<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsq.mapper.PlayersArmsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itsq.pojo.entity.PlayersArms">
        <result column="id" property="id" />
        <result column="players_id" property="playersId" />
        <result column="arms_id" property="armsId" />
        <result column="box_id" property="boxId" />
        <result column="is_status" property="isStatus" />
        <result column="type" property="type" />
        <result column="cr_date" property="crDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, players_id, arms_id, box_id, is_status, type, cr_date
    </sql>

</mapper>
