<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsq.mapper.OperationRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itsq.pojo.entity.OperationRecord">
        <id column="id" property="id" />
        <result column="manger_name" property="mangerName" />
        <result column="manger_id" property="mangerId" />
        <result column="operation" property="operation" />
        <result column="concat" property="concat" />
        <result column="type" property="type" />
        <result column="cre_date" property="creDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, manger_name, manger_id, operation, concat, type, cre_date
    </sql>

</mapper>
